<HTML>
<head>
<style>
body{
 background-image: url('https://www.cruxcloud.tech/content/images/crux-cloud-logo.png');
 background-repeat:no-repeat;
 background-attachment:fixed;
 background-size:100% 100%;
}
</style>
</head>
  <BODY>
  <form method="POST" action="">
      <center>
      <H1>Enter your details </H1> <br>
      Name  <input type = "text" name="Name" /> <br>
      Number    <input type = "number" name="Number" /> <br>
      Age   <input type = "number" name="Age" /> <br>
      Location   <input type = "text" name="Location" /> <br>
      <input type = "submit">
      </center>
  </form>
  </BODY>
</HTML>
